.stat_one
{
    display: flex;
    flex-direction: row;
    background: #17a2b8;
    padding: 10px;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    color: #fff;
    width: 200px;
}

.stat_icons
{
    background-color: #FFF;
}

#logout_btn
{
    margin-top: 70%;
}

.stat_color4
{
    background: #28a745;
}


.stat_color5
{
    background: #f0cb35;
}

.stat_color6
{
    background: #dc281e;
}

button
{
    background-color: #FFF;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
	cursor:pointer;
	color: #091E42;
	font-size: 15px;
	padding:11px 38px;
	text-decoration: none;
    border: none;
    font-family: 'Bree Serif', serif;
    outline: none;
    cursor: pointer;
}

button:hover
{
    background-color: #041B2D;
    color: #FFF;
}

.user_table
{
    margin-bottom: 20px;
    width: 80%;
    display: block;
    margin-left: 18%;
    background: #fff;
    box-shadow: rgba(57, 73, 76, 0.4) 0px 1px 5px 1px, rgba(57, 73, 76, 0.25) 0px 1px 1px;
}

.search_icon
{
    height: 30px;
    width: 30px;
    padding: 5px;
    background: #17a2b8;
    cursor: pointer;
    margin-top: 15px;
}

.search
{
    height: 40px;
    padding: 10px 19px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color: #222;
    background-color: #fff;
    font-size: 13px;
    line-height: 18px;
    margin-left: 50%;
    margin-top: 15px;
    outline-color: #17a2b8;
   

}

.table_column_one
{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.0625);
}

tr th
{
    padding: 25px;
}

tr td
{
    padding: 10px;
}

tr:nth-child(odd)
{
    background: rgba(167, 177, 179, 0.4);
}

th
{
    background: #222;
    color: #FFF;
}


#table
{
    width: 100%;
    border-collapse: collapse;
}


.table_btn_reject
{
    background: #dc281e;
    color: #FFF;
}

.table_btn_reject:hover
{
    background: #dc281e;
}


.table_btn_verify
{
    background: #28a745;
    color: #FFF;
}

.table_btn_verify:hover
{
    background: #28a745;
}

.user_table
{
    overflow-x: auto;
}

.loan_unrepaid
{
    margin-top: 50px;
}

.search-formcontrol-options
{
    box-shadow: inset 0 1px 3px #EBECF0;
    border: 1px solid rgb(157, 166, 180);
    border-radius: 3px;
    box-sizing: border-box;
    color: #091E42;
    font-size: 14px;
    margin-bottom: 24px;
    outline-color: #091E42;
    padding: 0 8px;
    height: 40px;
    max-width: 100%;
    font-family: 'Bitter', serif;
   
}

.search-form-control
{
    box-shadow: inset 0 1px 3px #EBECF0;
    border: 1px solid rgb(157, 166, 180);
    border-radius: 3px;
    box-sizing: border-box;
    color: #091E42;
    font-size: 14px;
    margin-bottom: 24px;
    outline-color: #091E42;
    padding: 0 8px;
    height: 40px;
    max-width: 100%;
    max-width: 100%;
    font-family: 'Bitter', serif;
}

.search-form-btn
{
    height: 38px;
    border-radius: 3px;
    margin-bottom: 24px;
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 14px;
    background: #17a2b8;
    cursor: pointer;
    border: none;
    padding: 0 8px;
    box-shadow: #f1efef 0px 1px 5px 1px, #f1efef 0px 1px 1px;
    outline-color: #17a2b8;
}


@media(max-width: 900px)
{
    .user_stats
    {
        margin-left: 10px;
    }

    .stat_one
    {
        width: 80%;
    }

    .stat_icons
    {
        margin-left: 50px;
    }

    .statistics
    {
        margin-left: 0px;
    }

    .user_table
    {
        width: 100%;
        margin-left: 10px;
    }

    .table_btn_reject
    {
        margin-top: 10px;
    }
}
