
#badFeedBack
{
    border-radius: 3px;
    margin-bottom: 24px;
    width: 40%;
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 10px;
    box-shadow: #dc3545 0px 1px 5px 1px, #dc3545 0px 1px 1px;
    outline-color: #dc3545;
    background: linear-gradient(to right,#dc3545 0,#dc3545 100%);
}

#goodFeedBack
{
    border-radius: 3px;
    margin-bottom: 24px;
    width: 40%;
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 10px;
    text-align: center;
    box-shadow: #28a745 0px 1px 5px 1px, #28a745 0px 1px 1px;
    outline-color: #28a745;
    background: linear-gradient(to right,#28a745 0,#28a745 100%);
}

.update_image
{
    height: 100px;
}