body
{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    color: #091E42;
    font-size: 16px;
    font-family: 'Bitter', serif;
}

#logo_of_website
{
    height: 50px;
    width: 50px;
}