body
{
    margin: 0;
    height: 100%;
    width: 100%;
}

.navbar_icon
{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-top: 15px;
}

.homepage_navbar
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#navbar_first_column
{
    display: flex;
    flex-direction: row;
}

ul li
{
    display: inline;
}

ul
{
    margin-left: 10px;
}

li
{
    margin-left: 50px;
}