body
{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    color: #091E42;
    font-size: 16px;
    font-family: 'Bitter', serif;
}

.navbar_icon
{
    height: 25px;
    width: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

#name_of_website
{
    font-family: 'Acme', sans-serif;
}

.homepage_navbar
{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: rgba(57, 73, 76, 0.4) 0px 2px 10px 1px, rgba(57, 73, 76, 0.25) 0px 1px 2px;
}

#navbar_first_column
{
    display: flex;
    flex-direction: row;
}

ul li
{
    display: inline;
}

ul
{
    margin-left: 10px;
    margin-top: 25px;
}

li
{
    margin-left: 50px;
}

#navbar_third_column
{
    margin-left: 20%;
    margin-top: 10px;
}

#btn_login
{
    background-color:#44c767;
	-moz-border-radius:36px;
	-webkit-border-radius:36px;
	border-radius:36px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 50px;
	text-decoration:none;
    text-shadow:0px 0px 0px #2f6627;
    border: none;
    font-family: 'Bree Serif', serif;
    background: linear-gradient(to right,#52A0FD 0,#39fad7 100%);

}

#btn_signup
{
    background: linear-gradient(to right,#1D2671 0,#1D2671 100%);
	-moz-border-radius:36px;
	-webkit-border-radius:36px;
	border-radius:36px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 50px;
	text-decoration:none;
    text-shadow:0px 0px 0px #2f6627;
    border: none;
    font-family: 'Bree Serif', serif;
}