.all_form_control
{
    margin-left: 50px;
}

.validators
{
    margin-left: 50px;
}

#badFeedBack
{
    margin-left: 0px;
    width: 30%;
}

#goodFeedBack
{
    margin-left: 0px;
    width: 30%;
}

@media(max-width: 900px)
{
    #goodFeedBack
    {
        width: 80%;
    }

    #badFeedBack
    {
        width: 80%;
    }

    .all_form_control
    {
        margin-left: 15px;
    }

    .validators
    {
        margin-left: 15px;
    }
}