body
{
    background-color: #f2f7fb;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #091E42;
    font-size: 16px;
    font-family: 'Bitter', serif;

}

.navbar_icon
{
    height: 20px;
    width: 20px;
    margin-top: 18px;
    margin-left: 15px;
}

.side_navbar
{
    background-color: #303641;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 180px;
    z-index: 1000;
    color: #b7c0cd;
}

.homepage_navbar
{   
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0625);
    height: 65px;
    margin-bottom: 0;
    padding: 0;
    position: fixed;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    z-index: 800;
    margin-left: 13%;
    display: flex;
    flex-direction: row;
}


.dashboard
{
    display: flex;
    flex-direction: row;
}

.crm
{
    margin-left: 0px;
    width: 100%;
}

.content_body
{
    text-align: center;
    margin-top: 100px;
}

#navbar_first_column
{
    padding: 2.3px;
    border-bottom: 1px solid rgba(0,0,0,.0625);
    border-right: 1px solid rgba(0,0,0,.0625);
    display: flex;
    flex-direction: row;
}

.navbar_menu_icon
{
    background: #303641;
    padding: 5px;
    fill: #fff;
    height: 25px;
    width: 25px;
    padding: 10px;
    box-shadow: #fff 0px 1px 5px 0px, #fff 0px 1px 0px;
    -moz-border-radius:36px;
    -webkit-border-radius:36px;
    cursor: pointer;
    outline: none;
    display: none;
}

#sponsor
{
    margin-left: 35%;
}

.sponsor_logo
{
    height: 35px;
    margin-top: 15px;
}

.profile_image
{
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(43,43,43,0.2);
    box-shadow: 0 5px 10px 0 rgba(43,43,43,0.2);
    width: 45px;
    height: 35px;
    margin-top: 15px;
    
}

#navbar_last_column
{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}

.your_name
{
    margin-left: 15px;
    margin-top: 25px;
}

.side_navbar_icon_size
{
    height: 25px;
    width: 25px;
    fill: #b7c0cd;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
}

.side_navbar_icon_size:hover
{
    fill: #00bcd4;
}



.dash
{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    outline: none'
}

.dash_word
{
    margin-left: 15px;
    cursor: pointer;
}

.dash_word:hover
{
    color: #00bcd4;
}

#logout_btn
{
    background-color: #FF5370;
	-moz-border-radius:36px;
	-webkit-border-radius:36px;
	border-radius:36px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 50px;
	text-decoration:none;
    text-shadow:0px 0px 0px #52A0FD;
    border: none;
    font-family: 'Bree Serif', serif;
    outline: none;
    margin-left: 15px;
    margin-top: 90%;

}

#dashed
{
    color: #00bcd4;
}

.dashed_icon
{
    fill: #00bcd4;
}